@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutadv.cshtml";
}


<div class="content-wrapper">

    <div class="content-heading">
        <h2>Facture</h2>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div align="right">
                    <a href="~/Objectives/Create" class="btn btn-success btn-sm"></a>
                </div>
                <table class="table table-striped my-4 w-100" id="datatable2">
                    <thead>
                        <tr>

                            <th data-priority="1">idfacture</th>
                            <th>Somme</th>
                            <th>type</th>
                          



                     



                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in ViewBag.result)
                        {
                            <tr>
                                <td>@a.idfacture</td>
                                <td>@a.somme</td>
                                <td>@a.type</td>
                               
                                
                               
                            </tr>
                            @*@{
                                    ((Pidev.Controllers.PartenaireController)this.ViewContext.Controller).Delete(@a.idpartenaire);
                                }*@

                                        @*@Html.ActionLink("Delete", "Delete", new { id = @a.idpartenaire })*@


                                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
