@model Pidev.Models.evaluationModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdv.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-wrapper">
        <div class="content-heading"><h4>evaluationModel</h4></div>
        <div class="row">
            <div class="col-lg-10">
                <div class="card card-default">
                    <div class="card-body">
                        <div class="form-horizontal" style="padding-left:30px;">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                @Html.LabelFor(model => model.idObjective, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <!-- (ou on va recuperer les donnes, d'ou on va les recuperer)-->
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.idObjective, Model.Objectives, htmlAttributes: new { @class = "custom-select custom-select-sm" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.idObjective)
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.idEmploye, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <!-- (ou on va recuperer les donnes, d'ou on va les recuperer) !-->
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.idEmploye, Model.Users, htmlAttributes: new { @class = "custom-select custom-select-sm" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.idEmploye)
                                </div>
                            </div>

                            <!--
                                 <div class="form-group">

                                     <div class="col-md-10">
                                     (ou on va recuperer les donnes, d'ou on va les recuperer)
                                         <select name="objectives">
                                        foreach (var item in ViewBag.objectives)
                                        {
                                            <option>item.name</option>
                                        }

                                            </select>
                                    </div>
                                </div>
                            -->

                            <div class="form-group row">
                                @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="col-md-4">
                                        <input type="date" value=@Html.TextBoxFor(model => model.date, htmlAttributes: new { @class = "form-control form-control-rounded" })
                                               @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.mark, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="col-md-4">
                                        <input type="number" value=@Html.TextBoxFor(model => model.mark, htmlAttributes: new { @class = "form-control form-control-rounded" })
                                               @Html.ValidationMessageFor(model => model.mark, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">Status:</label>
                                <div class="col-md-10">
                                    <div class="col-md-4">
                                        <select name="statuss" class="custom-select custom-select-sm">
                                            <option value="">--Please choose a status--</option> 
                                            <option value=byObjective>By Objective</option> 
                                            <option value=byEmploye>By Employe</option> 
                                        </select>
                                    </div>
                                </div>
                            </div>

                            @*<div class="form-group row">
                                @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                                <div class="col-md-10">
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>*@

                            <div class="form-group row">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
