@model IEnumerable<data.evaluation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdv.cshtml";
}
@{var evals = Pidev.Controllers.evaluationController.getEvals(); }

<div class="content-wrapper">

    <div class="content-heading">
        <h2>Evaluations</h2>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div align="right">
                    <a href="~/evaluation/Create" class="btn btn-success btn-sm">Create new evaluation</a>

                </div>

                <table class="table table-striped my-4 w-100" id="datatable2">
                    <thead>
                        <tr>
                            <th data-priority="1">Employe</th>
                            <th>Objective</th>
                            <th>date</th>
                            <th>mark</th>
                            <th class="sort-numeric">Status</th>
                            <th>Actions </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            var userName = Pidev.Controllers.evaluationController.getUserName(@item.idEmploye);
                            var objectiveName = Pidev.Controllers.evaluationController.getObjectiveName(@item.idObjective);
                            var objective = Pidev.Controllers.autoEvaluateEmployeController.getObjectiveByID(@item.idObjective);
                            string dateBegin = @objective.dateBegin.Substring(0, 10);
                            string dateEnd = @objective.dateEnd.Substring(0, 10);

                            <tr>
                                <td rowspan="">
                                    @userName
                                </td>
                                <td>@objectiveName</td>
                                <td>@dateBegin</td>
                                <td>@Html.DisplayFor(modelItem => item.status)</td>
                                <td contenteditable="true">@Html.DisplayFor(modelItem => item.mark)</td>

                                <td>
                                    @if (@item.status == "autoEvaluated")
                                    { <div class="alert alert-dark" role="alert" style="text-align:center;">
                                        <a href="javascript:eval1(@item.idObjective , @item.idEmploye);" class="text text-primary" style="text-decoration:underline;margin-right:3%;font-size:100%;margin-top:9.6%;">1</a>
                                        <a href="javascript:eval2(@item.idObjective , @item.idEmploye);" class="text text-primary" style="text-decoration:underline;margin-right:3%;font-size:150%;margin-top:6%;">2</a>
                                        <a href="javascript:eval3(@item.idObjective , @item.idEmploye);" class="text text-primary" style="text-decoration:underline;margin-right:3%;font-size:200%;margin-top:3%;">3  </a>
                                        <a href="javascript:eval4(@item.idObjective , @item.idEmploye);" class="text text-primary" style="text-decoration:underline;margin-right:3%;font-size:250%;">4  </a>
                                        <a href="javascript:eval5(@item.idObjective , @item.idEmploye);" class="text text-primary" style="text-decoration:underline;margin-right:3%;font-size:300%;margin-top:-4%;">5  </a>
                                       </div>
                                     }
                                        @if (@item.status == "claimed")
                                        {
                                            <div class="alert alert-success" role="alert">
                                                <strong>this evaluation is claimed</strong>
                                            </div>
                                        }
                                        @if (@item.status == "started")
                                        {
                                            <div class="alert alert-info" role="alert">
                                                <strong> Waiting for auto evaluation from  @userName</strong>
                                            </div>
                                        }
</td>
                            </tr>
                        }
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    function eval1(idO, idE) {
        alertify.confirm('claim Evaluation operation', 'are you sure to Evaluate this user for this objective : 1 ?', function () {
            window.location.href = '@Url.Action("evalOne", "evaluation")?idO=' + idO + '&idE=' + idE;
        }, null);
    }

    function eval2(idO, idE) {
        alertify.confirm('Auto Evaluation operation', 'are you sure to Evaluate this user for this objective : 2 ?', function () {
            window.location.href = '@Url.Action("evalTwo", "evaluation")?idO=' + idO + '&idE=' + idE;
        }, null);
    }

    function eval3(idO, idE) {
        alertify.confirm('Auto Evaluation operation', 'are you sure to Evaluate this user for this objective : 3 ?', function () {
            window.location.href = '@Url.Action("evalThree", "evaluation")?idO=' + idO + '&idE=' + idE;
        }, null);
    }

    function eval4(idO, idE) {
        alertify.confirm('Auto Evaluation operation', 'are you sure to Evaluate this user for this objective : 4 ?', function () {
            window.location.href = '@Url.Action("evalFour", "evaluation")?idO=' + idO + '&idE=' + idE;
        }, null);
    }

    function eval5(idO, idE) {
        alertify.confirm('Auto Evaluation operation', 'are you sure to Evaluate this user for this objective : 5 ?', function () {
            window.location.href = '@Url.Action("evalFive", "evaluation")?idO=' + idO + '&idE=' + idE;
        }, null);
    }

</script>


