@model data.ticket

@{
    ViewBag.Title = "Delete";

    Layout = "~/Views/Shared/_LayoutAdv.cshtml";

}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.archive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.archive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.difficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.difficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.done)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.done)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estimatedHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estimatedHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toDoList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toDoList)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employesTicket_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employesTicket_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projet_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projet_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team_id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
