@model IEnumerable<data.ticket>

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_LayoutAdv.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            archive
        </th>
      
        <th>
            description
        </th>
        <th>
            difficulty
        </th>
   
        <th>
            estimatedHours
        </th>
        <th>
            status
        </th>
  
     
        <th>title</th>
    </tr>

@foreach (var item in ViewBag.result) {
    <tr>
        
            <td>@item.archive</td>
      
        
        <td>@item.description</td>

        <td>@item.difficulty</td>

        <td>@item.estimatedHours</td>

        <td>@item.status</td>
     
        <td>@item.title</td>
      
    
   
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTicket }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTicket }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTicket })
        </td>
    </tr>
}

</table>
