@model data.calendar

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdv.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-wrapper">
        <div class="content-heading">
            <div>
                Add Event<small>..</small>
            </div>
        </div>

        <!-- START card-->
        <div class="card card-default">

            <div class="card-body">
                <form styleClass="form-horizontal">
                    <fieldset>
                        <legend>Ticket name</legend>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Event name:</label>
                            <div class="col-md-10">
                                <div class="col-xl-6 col-10">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.NomEvent, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-append input-group-addon"><span class="input-group-text fa fa-tasks"></span></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </fieldset>
                    <fieldset></fieldset>

                    <fieldset>
                        <div class="form-group row mb-2">
                            <label class="col-md-2 col-form-label mb-2">Begin at :</label>
                            <div class="col-xl-6 col-10">
                                <div class="input-group date" >
                                    @Html.EditorFor(model => model.DateDebut, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-append input-group-addon"><span class="input-group-text fas fa-calendar-alt"></span></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset></fieldset>
                    <fieldset>
                        <div class="form-group row mb-2">
                            <label class="col-md-2 col-form-label mb-2">Ends at : </label>
                            <div class="col-xl-6 col-10">
                                <div class="input-group date" >
                                    @Html.EditorFor(model => model.DateFin, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-append input-group-addon"><span class="input-group-text fas fa-calendar-alt"></span></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
