@model Pidev.Models.SkillModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdv.cshtml";
}
<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.skillId)

    <div>
        @Html.LabelFor(model => model.skillName)
        @Html.EditorFor(model => model.skillName)
        @Html.ValidationMessageFor(model => model.skillName)
    </div>

    <div>
        @Html.LabelFor(model => model.skillDesc)
        @Html.EditorFor(model => model.skillDesc)
        @Html.ValidationMessageFor(model => model.skillDesc)
    </div>

    <div>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </div>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>