@{
    ViewBag.Title = "statEvalObj";
    Layout = "~/Views/Shared/_LayoutAdv.cshtml";
}


<div class="content-wrapper">

    <div class="content-heading">Stat Eval</div>


    <div class="card card-default">
        <div class="card-header" style="text-align : center;"><h2>Evaluation's mark averge</h2></div>
        <div class="card-body text-center">
            <div class="row">
                @foreach (var emp in ViewBag.users)
                {
                    string Color = "";
                    string rank = "";
                    var pourc = @Pidev.Controllers.autoEvaluateEmployeController.pourcentageObj(emp.id);
                    var marks = @Pidev.Controllers.autoEvaluateEmployeController.getMarksByidEmp(emp.id);
                    var nbEvals = @Pidev.Controllers.autoEvaluateEmployeController.nbrEvalByIdEmp(emp.id);
                    var teamName = Pidev.Controllers.autoEvaluateEmployeController.teamNamebyId(emp.id);


                    if (pourc <= 25)
                        Color = "danger";
                    else if (pourc <= 50 && pourc > 25)
                        Color = "warning";
                    else if (pourc <= 75 && pourc > 50)
                        Color = "info";
                    else if (pourc <= 100 && pourc > 75)
                        Color = "success";


                    if (pourc <= 25)
                        rank = "frown";
                    else if (pourc <= 50 && pourc > 25)
                        rank = "meh";
                    else if (pourc <= 75 && pourc > 50)
                        rank = "smile";
                    else if (pourc <= 100 && pourc > 75)
                        rank = "hand-holding-heart";



                    <div class="col-lg-4">

                        <div class="radial-bar radial-bar-@pourc radial-bar radial-bar-@Color">
                            <span style="color:black;font:bold;"> @pourc%</span><img src="@Url.Content("~/Content/images/" + @emp.firstName + ".jpg")" alt="Image">
                        </div>


                        <!-- START card-->
                        <div class="card border-0">
                            <div class="card-body bg-@Color">
                                <div class="h4 mt-0">@emp.firstName stats</div><!-- Line chart-->
                                <div data-sparkline="" data-values="0,@marks" data-type="line" data-height="80" data-width="100%" data-line-width="2" data-line-color="#dddddd" data-spot-color="#bbbbbb" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="3" data-resize="true"></div><!-- Bar chart-->
                                <div class="text-center">
                                    <div data-sparkline="" data-bar-color="#fff" data-height="50" data-bar-width="10" data-bar-spacing="9" data-values="0,@marks"></div>
                                </div>
                            </div>
                            <div class="card-body bg-inverse">
                                <div class="row text-center">
                                    <div class="col-4">
                                        <p class="m-0 h3">@nbEvals</p>
                                        <p class="m-0 text-muted">Objectives</p>
                                    </div>
                                    <div class="col-4">
                                        <p class="m-0 h4">@teamName</p>
                                        <p class="m-0 text-muted">Team name</p>
                                    </div>
                                    <div class="col-4">
                                        <p class="m-0 h3"><em class="fa fa-@rank fa-2x text-@Color"></em></p>
                                        <p class="m-0 text-muted"></p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- END card-->
                    </div>

                }

            </div>
        </div>
    </div><!-- END card-->




</div>

<style>
    .radial-bar {
        position: relative;
        display: inline-block;
        font-size: 16px;
        border-radius: 50%;
        border: 2px solid #fafafa;
        background-color: transparent;
        margin-bottom: 20px;
        box-sizing: content-box;
        width: 150px;
        height: 150px;
        font-size: 18px;
    }

        .radial-bar:after, .radial-bar > img {
            width: 110px;
            height: 110px;
            margin-left: 20px;
            margin-top: 20px;
            line-height: 56px;
        }
</style>